[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
pep257 = "*"

[packages]
flask = "*"
fire = "*"

[requires]
python_version = "3.7"
